.logo {
	display: block;
	margin: 0 auto;
	width: 150px;
	height: 150px;
}

.header__title {
	text-align: center;
	font-size: 26px;
	font-weight: 700;
}

.header__descr {
	margin-top: 15px;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.header__title {
		font-size: 18px;
	}
	.header__descr {
		text-align: left;
		font-size: 14px;
		margin-top: 50px;
	}
}
