.help__image {
	img {
		width: 100%;
		margin: 50px auto;
		display: block;
	}
}

.help__descr {
	font-size: 17px;
}

.help__advantages {
	margin-top: 70px;
	font-weight: 700;
	font-size: 25px;
}

.help__advantages-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 300;
	list-style-type: none;
	margin-top: 10px;

	img {
		margin-top: 20px;
	}

	p {
		margin-top: 10px;
	}
}

.help__guarantee {
	margin-top: 100px;
	font-size: 40px;
	font-weight: 900;
}

@media screen and (max-width: 1024px) {
	.help__advantages-text {
		align-items: flex-start;
		flex-direction: column;

		.help__advantages-item {
			display: flex;
			align-items: center;
			margin: 10px 0;
			text-align: left;

			img {
				margin: 0 15px 0 0;
			}

			p {
				margin: 0;
			}
		}
	}

	.help__image {
		width: 75%;
		margin: 0 auto;
	}

	.help__text {
		text-align: left;
	}

	.help__guarantee {
		margin: 100px auto;
		font-size: 20px;
	}

	.help__descr {
		font-size: 14px;
	}

	.help__advantages {
		font-size: 20px;
	}
}
